<footer>
  <div id="footer-center">

    <div class="footer-col col1">
      <h2>What can you do ? </h2>
      <p> <i class="fa fa-user" aria-hidden="true"></i> Join us and start your virtual travel
        <br/> <i class="fa fa-globe" aria-hidden="true"></i> Create your trip's page
        <br/> <i class="fa fa-comment" aria-hidden="true"></i> Talk about your visits and discoveries
        <br /> <i class="fa fa-eye" aria-hidden="true"></i> Follow other people's trips
        <br /> <i class="fa fa-plus" aria-hidden="true"></i> And a lot more enjoyable stuffs! </p>
    </div>

    <div class="footer-col col2">
      <p class="footer-citation"><br/>Le plus beau voyage, c'est celui qu'on n’a pas encore fait.</p>
      <p class="footer-citation-author"><i>(Loïck Peyron)</i></p>
    </div>

    <div class="footer-col col3">
      <h2>About us</h2>
      <p>
      Margaux Divernois <i class="fa fa-user" aria-hidden="true"></i><br/>
      Steve Visinand <i class="fa fa-user" aria-hidden="true"></i><br/>
      Nicolas Gonin <i class="fa fa-user" aria-hidden="true"></i></p>

      <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> All right reserved<br/>
    </div>

  </div>
</footer>