
@font-face{
  font-family: Lobster;
  src: url(../fonts/Lobster.otf);
}


$mainColor : #00DED9;
$light-zone : #e4e4e4;
$lighter-zone : #f2f2f2;
$dark-touch : #484848;
$mainColor-darker : #008D9E;

$mobile-size: 600px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-family: "Century Gothic", Arial, sans-serif;

  background-color: $mainColor-darker;

  //background-image: url("../img/arches.png");
  background-image: url(http://www.transparenttextures.com/patterns/shattered-dark.png);
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, p{
  font-family: "Century Gothic", Arial, sans-serif;
}

a{
  text-decoration: none;
}

@mixin content-center(){
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@mixin button(){
  background-color: $dark-touch;
  border: none;

  font-size: 14px;
  padding: 6px;

  color: white;

  @include border-radius(5px);

  text-decoration: none;
  font-family: "Century Gothic", Arial, sans-serif;

  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
  &:active{
    opacity: 1.0;
  }
}

//
//HEAD-TOP
//

#head-top{
  height: 60px;
  width: 100%;
  background-color: $mainColor-darker;
  position: relative;


  -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);

  background-image: url(http://www.transparenttextures.com/patterns/shattered-dark.png);

}

#head-top-center{
  @include content-center();
  height: inherit;
}

.head-top-nav{
  display: inline-block;

  line-height: 60px;
  vertical-align: middle;

  float: right;


  a{
    text-align:center;
    color: $dark-touch;
    text-decoration:none;
    display: inline-block;
    background-color: $mainColor;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 5px;
    margin-right: 5px;

    width:90px;

    font-family: "Century Gothic", Arial, sans-serif;

    @include border-radius(5px);

    &:hover{
      color: $mainColor;
      background-color: $dark-touch;
    }
    &:active{
      color: $dark-touch;
      background-color: $mainColor;
    }
  }

}

#head-top-logo{
  text-align: center;
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  line-height: 60px;

  margin-top: 5px;
  margin-right: 15px;

  float: left;

  background-color: $mainColor;

  @include border-radius(25px);

  i{
    font-size: 51px;
  }
}

#head-top-title{
  display: inline-block;
  color: white;
  font-family: Lobster;
  margin-top: 0px;
  line-height: 60px;
  font-size: 30px;
  vertical-align: bottom;

  a{
    text-decoration: none;
    color: white;
  }
}


//
//  HEAD-TRAVEL
//
#head-travel{
  height: 100px;
  background-color: $mainColor;
  margin-bottom: 0px !important;
}

#head-travel-ctrl{
  display: inline-block;
  float: right;
  line-height: 100px;
  vertical-align: middle;
}

.little-ctrl-button{
  color: black;
  font-size: 30px;
  text-decoration: none;
  display: block;
  vertical-align: middle;

  padding-left: 10px;
  padding-right: 10px;

  display: inline-block;

  &:hover{
    color:white;
  }
}

#head-travel-center{
  @include content-center();
}

#head-travel-img{
  float: left;
  margin-top:10px;
  margin-right: 20px;
  @include border-radius(40px);

  overflow: hidden;

  background-color: $dark-touch;
  width: 80px;
  height: 80px;
  line-height: 100px;
}
#head-travel-descr{
  float: left;

  p{
    color: $dark-touch;
    line-height: 12px;
  }
}

//
//  FOOT
//

footer{
  background-color: $mainColor;

  #footer-center{
    display: table;
    @include content-center();
    width: 100%;
  }

  .footer-col{
    display: table-cell;
    width: 33%;

    padding-left: 15px;
    padding-right: 15px;

    h2{
      font-size: 18px;
      color: $dark-touch;
    }
    p{
      font-size: 14px;
      color: $dark-touch;
    }
  }
  .col2{
    border-left: dashed;
    border-right: dashed;
    border-color: $dark-touch;
    border-width: 1px;
  }

  .col3 {
    text-align: right;
  }

  .footer-citation {
    color: white !important;
    font-family: Lobster;
    font-size: 20px !important;
    text-align: center;
  }

  .footer-citation-author {
    margin-top: -15px;
    color: white !important;
    text-align: right !important;
    font-size : 10px;
  }
}

//
//  INSERTION
//
#trip-insert-center{
  @include content-center();
}
#trip-insert-frm{
  background-color: $lighter-zone;
  padding-top: 10px;
  padding-bottom: 10px;


  #info_address{
    text-align: right;
    color: $dark-touch;
    font-size: 13px;
    margin-top: 0px;
    padding-top: 0px;
  }

  #finded_adresses{
    max-height: 120px;
    overflow-y: scroll;
    background-color: white;
    -webkit-box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.4);
    box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.4);
    @include border-radius(5px);
    margin-bottom: 10px;

  }

  .formated_adress{
    padding: 0;
    margin: 0;

    font-size: 13px;
    color: $dark-touch;
    span{
      display: inline-block;
      vertical-align: middle;
    }
    .gps_adress{
      font-size: 10px;
    }
    .rbtn_adress_span{
      margin-right: 10px;
      margin-left: 10px;
    }

    p{
      margin: 0;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

// FORM
input[type="text"], input[type="password"], input[type="email"]{
  display:block;

  -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.3);
  box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.3);

  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;

  margin-bottom: 10px;

  width:100%;
}

textarea{
  width: 100%;
  margin-bottom: 10px;
  height: 80px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;

  -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.3);
  box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.3);
}
label{
  font-family: Arial, Sans-Serif;
}

input[type="submit"]{
  width: 150px;
  display: inline-block;

  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include button();
}

#nb_results{
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: right;
}

#find-mapsAPI{
  display: table;
  width: 100%;
  position: relative;
  #find_addr{
    display: table-cell;
    width: 94% !important;

  }
  .find-btn{


    display: table-cell;
    width: 6%;

    text-align: right;

    height: 5px;
    i{
      background-color: $dark-touch;
      padding: 6px;
      color: $lighter-zone;
      @include border-radius(2px);
      cursor: pointer;
      &:hover{
        opacity: 0.8;
      }
      &:active{
        background-color: $lighter-zone;
        color: $dark-touch;
      }
    }
  }
}

.images-ctrl{
  position: relative;
  .image-ctrl{
    display: inline-block;
  }
  .image-ctrl-btn{
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
    background-color: $dark-touch;
    color: white;
    @include border-radius(3px);

    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;

    margin-right: 10px;

    text-decoration: none;

    &:hover{
      opacity: 0.7;
      cursor: pointer;
    }
  }
  img{
    height: 48px;
    margin-right: 0px;

  }
}

.trip-insert-radio{

  position: relative;
  cursor: pointer;

  display: inline-block;

  margin: 5px;

  input[type=radio] {
    opacity: 1.0;
    z-index: 100;

  }

  i {
    opacity: 0.5;
    z-index: 0;
  }
  span{
    font-family: "Century Gothic", Arial, Sans-Serif;
  }
  :checked + i {
    opacity: 1;
  }
}

.colx2-container{
  display: table;
  width: 100%;
  margin-bottom: 10px;
  .colx2{
    display: table-cell;
    width: 50%;
    padding-right: 20px;
  }
  .col2{
    //border-left: dashed;
    //border-left-color: $mainColor-darker;
    //border-left-width: 1px;
    padding-right: 0px;
    padding-left: 20px;
  }
}


#map {
  height: 400px;
  width: 100%;
}


//
//  ARTICLE
//
#articles{
  @include content-center();
}
.article-line{
  position: relative;
  display: table;


  .article-all-content{
    display: table-cell;
    vertical-align: top;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
  }
  .article-box{
    background-color: white;

    width: 100%;
    @include border-radius(10px);
    vertical-align: top;

    -webkit-box-shadow: 0 0px 3px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.3);

    position: relative;
    display: table;

  }
  .article-chronology{
    display: table-cell;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .article-chronology-date{
    width: 76px;
    margin-left: 80px;
    margin-top: -60px;

    p{
      font-size: 14px;
      font-weight: bold;
      color:white;
    }
  }
  .article-chronology-logo{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    @include border-radius(25px);
    margin-left: 20px;
    background-color: $mainColor;

    text-align: center;
    i{
      font-size: 25px;
      left: 35px;
      top:32px;
      position: absolute;
      z-index: 100;

    }
  }
  .article-chronology-line{
    position: absolute;
    right: 108px;
    height: 100%;
    width: 6px;
    background-color: $mainColor;

  }

  .article-img{
    background-color: $dark-touch;
    width: 200px;
    height: 150px;

    margin-left:15px;
    margin-top: 20px;

    &:hover{
      opacity: 0.7;
    }

  }
  .article-gallery-thumbs{
    margin-left: 15px;
    margin-bottom: 15px;

  }
  .article-img-thumb{
    width: 64px;
    height: 48px;

    display: inline-block;

    margin: 0;
    padding: 0;
    &:hover{
      opacity: 0.7;
    }
  }

  .article-content{
    //display: inline-block;
    display: table-cell;
    padding: 15px;
    vertical-align: top;

    h1, p{
      margin: 0;
    }
    h1{
      font-size: 26px;
    }
  }

  .article-descr{
    padding-bottom: 25px;
    text-align: justify;
  }
  .article-lieu{
    font-size: 12px;
    color: $dark-touch;
    text-align: right;
    width: 100%;
    position: relative;
  }

  .article-score{
    color: $dark-touch;
    text-align: right;
    width: 100%;
    position: relative;
  }

  .article-gallery{
    display: table-cell;
    width: 200px;
  }
}

.article-control-btn{
  @include button();

  display: inline-block;
  margin-top: 10px;
}

#trip-description{
  .trip-description-center{
    @include content-center();

    padding: 10px;
    margin-bottom: 20px;
    position: relative;

    margin-top: 0px;
  }
  .trip-description-content{

    background-color: white;
    @include border-radius(5px);
    padding: 10px;
    margin-top: -15px;

  }
}

//
// User pannel
//
#user-pannel{
  background-color: $lighter-zone;
  text-align: right;
  overflow: hidden;
}

#info-user{
  display: inline-block;

  margin-left: 20px;
  margin-right: 10px;


  vertical-align: center;
}

#icon-user{
  display: inline-block;
  font-size: 30px;
  float: right;

  margin-top: 10px;


  vertical-align: center;
}

#button-little{
  display: inline-block;

  @include button();

  margin-top: 10px;
  margin-bottom: 10px;

  a{
    line-height: 12px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;

    text-decoration: none;
    color: white;

    &:active{
      text-decoration: none;
      color: white;
    }
  }
}

#button-open-pannel{
  float: right;
  background-color: $dark-touch;

  border: none;
  font-family: "Century Gothic", Arial, sans-serif;

  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
  &:active{
    opacity: 1.0;
  }

  p{
    line-height: 28px;
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;


    color: white;
    cursor: pointer;
  }
  i{
    line-height: 20px;
    vertical-align: middle;
    font-size: 30px;
  }


}


// Alerts
@mixin alert-message-top(){
  width: 100%;

  background-color: $light-zone;
  margin: 0;

  p{
    color: white;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

  }
}
.notice{
  @include alert-message-top();
  background-color: yellow;
  p{
    color: black !important;
  }

}

.alert{
  @include alert-message-top();
  background-color: red;
}


.center-content{
  @include content-center();
}

.center-text-content{
  text-align: center;
}

.imgLink{
  text-decoration: none;
}

@mixin underscore-from-left() {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #00DED9;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover:before, &:focus:before, &:active:before {
    right: 0;
  }

}

.display-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #F2F2F2;
  font-family: "Century Gothic", Arial, sans-serif;
  overflow: hidden;
  height: 100%;
  margin: 1%;
  min-width: 500px;

  .display-box-top {
    margin: 10px;
    overflow: hidden;
  }

  .display-box-img {
    width: 25%;
    float: left;
    padding: 1% 0;
  }

  .display-box-content {
    padding: 1%;
    float: left;
    width: 70%;
  }

  .display-box-buttons {
    border-top: 2px solid #FFFFFF;
    position: relative;

    .display-box-buttons-left {
      width: 30%;
      float: left;
      border-right: 2px solid #FFFFFF;
      text-align: center;
      padding: 1% 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      @include underscore-from-left();
    }

    .display-box-buttons-right {
      width: 70%;
      float: right;
      text-align: center;
      padding: 1% 0;

      @include underscore-from-left();
    }
  }

  input[type="submit"] {
    background:none;
    border:none;
    padding:0;
    font: inherit;
    color: $dark-touch;
  }

  a {
    color: #000000;
    text-decoration: none;

    &:hover {
      text-decoration: double;
    }
  }
}

.button {
  @include button();
}
.button-inline {
  @include button();
  display: inline-block;
  min-width: 140px;
}

@media all and (max-width: $mobile-size) {

  .display-box {

    .display-box-img {
      width: 100%;
      float: none;
    }

    .display-box-content {
      float: none;
      width: 100%;
    }

    .display-box-buttons {

      .display-box-buttons-left {
        width: 100%;
        float: none;
        border-right: none;
      }

      .display-box-buttons-right {
        width: 100%;
        float: none;
        border-top: 2px solid #FFFFFF;
      }
    }
  }
}
.stars-container {
  right: 0px;
  position: relative;
  display: inline-block;
  color: transparent;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    overflow: hidden;
  }
}

.stars-0:after { width: 0%; }
.stars-1:after { width: 20%; }
.stars-2:after { width: 40%; }
.stars-3:after { width: 60%; }
.stars-4:after { width: 80%; }
.stars-5:after { width: 100%; }


.bold {
  font-weight: bold;
}