<div class="center-content">
    <% @stage_comment.each do |comment| %>

      <p><%= comment.content %>
      <%= comment.user.username %>
        <%= comment.created_at.strftime("%d/%m/%y - %H:%M") %>
      </p>

    <% end %>

</div>

