<% content_for :title, t('trip_update_title') %>

<%= render 'header', :trip => @trip %>

<div class="center-content">
  <h1><%= t('trip_update_title') %></h1>

  <%= render 'form' %>

  <br/>
  <%= button_to  t('trip_delete'), @trip, :method=>:delete, :class=>:destroy %>

  <br/>
</div>