<% content_for :title, "Trips" %>

<div class="center-content">

  <h1><%= t('trip_title_all') %></h1>

  <% @trips.each do |trip| %>

      <%= render :template => 'trips/_show_element', :locals => { :trip => trip } %>

  <% end %>

  <% if @trips.empty? %>
    <p><%= t('trip_list_empty') %></p>
  <% end %>

</div>