<% content_for :title, t('trip_personnal_title') %>

<div class="center-content">
<h1><%= t('trip_personnal_title') %></h1>
  <% @trips.each do |trip| %>

      <%= render :template => 'trips/show_trip_listing', :locals => { :trip => trip } %>

  <% end %>

  <% if @trips.empty? %>
    <p><%= t('trip_personnal_empty') %></p>

      <%= link_to t('trip_personnal_create_first'), create_new_trip_path(), { :class => 'button' } %>
  <% end %>
</div>
