$mainColor : #d1ccd1;
$mainColor-darker : #8e898e;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body{
  margin: 0;
  padding: 0;
}

h1, h2, h3, p{
  font-family: "Century Gothic", Arial, sans-serif;
}


@mixin content-center(){
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

//
//HEAD-TOP
//

#head-top{
  height: 60px;
  width: 100%;
  background-color: white;
  position: relative;

  text-align:center


}

#head-top-center{
  margin-left: auto;
  margin-right: auto;
}

.head-top-nav{
  display: inline-block;

  line-height: 60px;
  vertical-align: middle;


  a{
    color: $mainColor-darker;
    text-decoration:none;
    display: inline-block;
    background-color: $mainColor;
    height: 22px;
    line-height: 22px;
    padding-left: 30px;
    padding-right: 30px;

    margin-left: 5px;
    margin-right: 5px;

    font-family: "Century Gothic", Arial, sans-serif;

    @include border-radius(5px);

    &:hover{
      color: $mainColor;
      background-color: $mainColor-darker;
    }
    &:active{
      color: $mainColor-darker;
      background-color: $mainColor;
    }
  }

}

#head-top-logo{
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  line-height: 60px;

  margin-left: 25px;
  margin-right: 25px;

  background-color: $mainColor;

  @include border-radius(25px);
}


//
//  HEAD-TRAVEL
//
#head-travel{
  height: 100px;
  background-color: $mainColor;
}

#head-travel-center{
  @include content-center();
}

#head-travel-img{
  float: left;
  margin-top:10px;
  margin-right: 20px;
  @include border-radius(40px);

  background-color: $mainColor-darker;
  width: 80px;
  height: 80px;
  line-height: 100px;
}
#head-travel-descr{
  float: left;

  p{
    color: $mainColor-darker;
    line-height: 12px;
  }
}

//
//  FOOT
//

footer{
  background-color: $mainColor;

  #footer-center{
    display: table;
    @include content-center();
    width: 100%;
  }
  .footer-col{
    display: table-cell;
    width: 33%;

    padding-left: 15px;
    padding-right: 15px;

    h1{
      font-size: 18px;
      color: $mainColor-darker;
    }
    p{
      font-size: 14px;
      color: $mainColor-darker;
    }
  }
  .col2{
    border-left: dashed;
    border-right: dashed;
    border-color: $mainColor-darker;
    border-width: 1px;
  }
}

//
//  ARTICLE
//
#articles{
  @include content-center();
}
.article-line{
  position: relative;
  display: table;



  .article-all-content{
    display: table-cell;
    vertical-align: top;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;


  }
  .article-box{
    background-color: $mainColor;
    width: 100%;
    @include border-radius(10px);
    vertical-align: top;


  }
  .article-chronology{
    display: table-cell;
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
  }
  .article-chronology-logo{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    @include border-radius(25px);
    margin-left: 20px;
    background-color: $mainColor;
  }
  .article-chronology-line{
    position: absolute;
    right: 20px;
    height: 100%;
    width: 10px;
    background-color: $mainColor;

  }

  .article-img{
    display: inline-block;


    background-color: $mainColor-darker;
    width: 133px;
    height: 100px;

    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .article-content{
    display: inline-block;
    padding: 10px;
    vertical-align: top;

    h1, p{
      margin: 0;
    }
  }
}

