<% content_for :title, "Trips" %>

<section id="map-index-section">

  <div id="map">

  </div>

  <div id="tripInfo">
    <div id="trip-center">
      <div id="trip-box">


        <img id="trip-img" />
        <div id="trip-info">
          <h1 id="tripName">TRIP_NAME</h1>

          <table>

            <tr>
              <td align="center"><i class="fa fa-user" aria-hidden="true"></i></td>
              <td><p id="tripUserName">TRIP_USER</p></td>
            </tr>

            <tr>
              <td align="center"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
              <td><p id="tripLocation">TRIP_LOCATION</p></td>
            </tr>

            <tr>
              <td align="center"><i class="fa fa-calendar" aria-hidden="true"></i></td>
              <td><p id="tripDate">TRIP_DATE</p></td>
            </tr>
          </table>

        </div>

        <a href="#" id="tripDiscoverButton" class="button btn-discover">Découvir</a>

      </div>

    </div>

  </div>

  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Dp3v9OvUEEhePVbi3FoKCHrwpC2Yhhs&callback=initGeo">
  </script>


</section>


<section class="last-articles">


  <div class="center-content">

    <h1 class="center-title">Derniers Articles</h1>

    <div class="cards"><!--

      --><a href="#">
        <div class="article-apercu-card">

          <img />
          <div class="apercu-content">
            <h1>Titre article</h1>
            <h2>Travel name</h2>
            <p>*****</p>
          </div>

        </div>
      </a><!--

      --><a href="#">
        <div class="article-apercu-card">

          <img />
          <div class="apercu-content">
            <h1>Titre article</h1>
            <h2>Travel name</h2>
            <p>*****</p>
          </div>

        </div>
      </a><!--

      --><a href="#">
        <div class="article-apercu-card">

          <img />
          <div class="apercu-content">
            <h1>Titre article</h1>
            <h2>Travel name</h2>
            <p>*****</p>
          </div>

        </div>
      </a><!--

      --><a href="#">
        <div class="article-apercu-card">

          <img />
          <div class="apercu-content">
            <h1>Titre article</h1>
            <h2>Travel name</h2>
            <p>*****</p>
          </div>

        </div>
      </a><!--

     --></div>


  </div>


</section>


<section class="section-travels">


  <div class="center-content">

    <h1 class="center-title">Voyages</h1>

    <div class="cards"><!--

      --><a href="#">
      <div class="article-apercu-card">

        <img />
        <div class="apercu-content">
          <h1>Titre article</h1>
          <h2>Travel name</h2>
          <p>*****</p>
        </div>

      </div>
    </a><!--

      --><a href="#">
      <div class="article-apercu-card">

        <img />
        <div class="apercu-content">
          <h1>Titre article</h1>
          <h2>Travel name</h2>
          <p>*****</p>
        </div>

      </div>
    </a><!--

      --><a href="#">
      <div class="article-apercu-card">

        <img />
        <div class="apercu-content">
          <h1>Titre article</h1>
          <h2>Travel name</h2>
          <p>*****</p>
        </div>

      </div>
    </a><!--

      --><a href="#">
      <div class="article-apercu-card">

        <img />
        <div class="apercu-content">
          <h1>Titre article</h1>
          <h2>Travel name</h2>
          <p>*****</p>
        </div>

      </div>
    </a><!--

     --></div>


  </div>

  </div>


</section>